<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./assets/css/carte.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carte</title>
</head>
<body>
    <div class="container">
    <img src="./assets/img/Carte-bruxelles1.png"  class='carte'alt="" >

    <img src="./assets/img/basilique-01.png" class="picto_Atom" alt="">
    <img src="./assets/img/basilique-01.png " class="picto_Basi" alt="">

</div>
    


    
</body>
</html>