<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./assets/css/carte.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carte</title>
</head>
<body>
    <div class="container">
    <img src="./assets/images/Carte-bruxelles1.png"  class='carte' alt="carte" >

    <!-- <img src="./assets/images/illu/basilique-01.png" class="picto_Atom" alt="Picto">
    <img src="./assets/images/illu/basilique-01.png" class="picto_Basi" alt="Picto"> -->

</div>
    
</body>
</html>