
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign_IN</title>
    <link rel="stylesheet" href="./assets/css/reset.css">
    <link rel="stylesheet" href="./assets/css/create.css">
</head>

<body>
    <section class="main">
        <div class="logo">

            <img class="img_logo" src="./assets/images/illu/Logo.png">



        </div>
        <!-- ****** zone du formulaire**** -->


        <div class="box_formLogOut">
            <div class="formLogOut">
                <h1>CREATE ACCOUNT</h1>

                <form>

    
                    <input  class="inputboite" type="text"  placeholder="Name">
                

                    <input class="inputboite" type="text" placeholder="Email">


                    <input class="inputboite" type="password" placeholder="password">


                    <input class="inputboite" type="password" placeholder="Confirm password">


                    <div class="create">
                        <h1>Create</h1>
                        <input  class="btn_create" type="submit" value="">
                    </div>
                </form>

            </div>
        </div>

    </section>
    <section class="image">


        </div>
    </section>

</body>

</html>