<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./assets/css/header.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
</head>
<body>
    <header class="container">
       <div>
        <img src="./assets/img/Logo-final.png" class="logo" alt="logo">
       </div> 
    <div class="nav">
        
        <div class="right">
            <label for="recherche"></label>
            <input id="recherche" type="search" placeholder="Search">
            <div  class="langue">
            <nav>
             <ul>
                <li> FR |</li>
                <li> NL |</li>
                <li> EN |</li>
             </ul>            
            </nav>
            </div>
            <img src="./assets/img/burger_menu.png" class="burger" alt="">
        </div>
    </div>

    </header>
   
</body>
</html>