<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/reset.css">
    <link rel="stylesheet" href="./assets/css/container.css">
    <link rel="stylesheet" href="./assets/css/logIn.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/regular.min.css" integrity="sha512-aNH2ILn88yXgp/1dcFPt2/EkSNc03f9HBFX0rqX3Kw37+vjipi1pK3L9W08TZLhMg4Slk810sPLdJlNIjwygFw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/webfonts/fa-brands-400.ttf">
    <title>Formulaire/Sign_In</title>
</head>
<body>
    <section class="entrance">
            <div class="logo">
                <img class="img_logo" src="./assets/images/illu/Logo-final-retouche.png">
            </div>

        <!-- ****** Création du formulaire **** -->

            <div class="formulaire_container">
                <div class="formulaire">

                    <form method="post" action="">
                        <div class="formulaire_text">
                            <h1>welcome</h1>
                            <p>Sign in to your account</p>
                        </div>

                        <div class="inputGroup">
                            <input class="inputbox" type="text" name="username" id="user" placeholder="Name">
                            <div class="user">
                                <i class="fa-regular fa-user"></i>
                            </div>
                        </div>


                        <div>
                            <input class="inputbox" type="password" name="password" id="pswd" placeholder="password">
                        <h4>forgot your password ?</h4>
                            <div class="lock">
                                <i class="fa-solid fa-lock"></i>
                            </div>
                        </div>

                    <!------- Bouton-------->
                        <div class="sign_in">
                            <h2>Log in</h2>
                            <input  class="btn_log" type="submit" value="">
                        </div>
                        <div class="create">
                            <p>Don't have an account ?<a href="./create.html">Create</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <section class="illustration">
        </section>
</body>
</html>