<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/container.css">
    <link rel="stylesheet" href="./assets/css/reset.css">
    <link rel="stylesheet" href="./assets/css/log_in.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <section class=" entrance">
            <div class="logo">
                <img src="./assets/images/Logo-final-retouche.png">
            </div>
        <!--------Création du formulaire--------->
        <div class="formulaire_container">
            <div class="formulaire">
                    <form method="post" action="index.php">
                    <div class="formulaire_text">
                        <h1>welcome</h1>
                        <p>Sign in to your account</p>
                    </div>

                        <input  class="inputbox" type="text" name="username" id="user" placeholder="Name">

                        <input class="inputbox" type="password" name="password" id="pswd" placeholder="password">
                        <h2>forgot your password ?</h2>

            <!------- Bouton-------->
                        <div class="sign_in">
                            <h1>Create</h1>
                            <input  class="btn_sign" type="submit" value="">
                        </div>
                    </form>
            </div>
        </div>


        </section>
        <section class="illustration">
            <div>
                <img src="./assets/images/logInFaces.png">
            </div>
        </section>








    </div>
</body>
</html>