
@font-face {
    font-family: "RobotoRegular";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "RobotoThin";
    src: url(../fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: "RobotoMedium";
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: "RobotoBold";
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: "RobotoMedium";
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}


:root{

    --body:#E9E9E9;
    --titre:#707070;
    --text1:#7B7979;
    --text2:#FFA101;
    --formulaire: #D1D1D1;
    --bouton:#2F4F58;
    --primary-color: rgba(20, 177, 177, 0.5);
    --overlay-color: rgba(24,39,51,0.85);
    --menu-speed: 0.75s;


}

section.about{
    display: flex;
    flex-direction: row;
    min-width: 100%;
    height: 100vh;
}

aside.illustration{

    width: 50%;
    min-height: 100vh;
    background-image: url(../images/illu/logInFaces.png) ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

aside.illustration_contact{
    width: 50%;
    position: relative;
    top: -150px;
    min-height: 100vh;
    

}
div.fond_contact{
    width: 50%;
    position: relative;
    top: -150px;
    min-height: 100vh;
    background-color: var(--bouton);
}

.boxAboutUs{

    width: 50%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.aboutText {
    width: 65%;
    min-height: 52vh;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 9vw;
}

.aboutText h1{
    text-transform: uppercase;
    font-family: "RobotoBold";
    color:var(--titre);
    font-size: 2rem;
}

.aboutText p{
    font-family: "RobotoThin";
    color:var(--titre);
    text-align: left;
}

.navAboutUs{
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
width: 55%;
height: 74px;
align-self: flex-end;
margin-top: 15px;

}
.right{
    display: flex;
    flex-direction: row;
    margin-right: 25px;
    justify-content: space-evenly;
    align-items: center;

}
.search{
    width: 211px;
    display: flex;
    flex-direction: column;
    height: 36px;
    justify-content: space-between;
    margin-right: 20px;

}

.langue{
    display: flex;
    flex-direction: row;
    margin-right: 25px;
    align-items: center;
}

.langue.navAboutUs ul{
    font-family: "RobotoBold";
    color: var(--titre);
    display: flex;
    flex-direction: row;
    list-style: none;


}
.navAboutUs input{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: var(--titre) 1px solid;

}


.btn{
      display: inline-block;
        padding-right: 1rem;
        text-decoration: none;
        color:#FFA101;
        ;
  }
.menu-wrap{
    position: absolute;
    top: 21px;
    left: 95%;
    font-family: 'RobotoBold';
    z-index: 1;
}
.menu-wrap .toggler{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}
.menu-wrap .hamburger{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Hamburger line */
.menu-wrap .hamburger >div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color:#FFA101;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}
/* Top and bottom lines */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after{
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}
/* Moves line down */
.menu-wrap .hamburger > div:after{
    top: 10px;
}
/* Toggler animate */
.menu-wrap .toggler:checked + .hamburger > div{
    transform: rotate(135deg);
}
/* Turn Lines into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after{
    top: 0;
    transform: rotate(90deg);
}
/* Rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div{
    transform: rotate(225deg);
}
/* Show menu */
.menu-wrap .toggler:checked ~ .menu{
    visibility: visible;
     animation: 1.2s slide-left;
      }
    
@keyframes slide-left {
        from {
          margin-left: 100%;
        }
        to {
          margin-left: 0%;
        }
      }


.menu-wrap .toggler:checked ~ .menu > div > div{
    opacity: 1;
    transition: opacity 0.4s ease;
}
.menu-wrap .menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-wrap .menu > div{
    background-color: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
   
}
.menu-wrap .menu > div >div{
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0; 
    transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu >div > div > ul > li > a{
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}

  