*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.grid-container{
    max-width: 1200px;
    width: 80%;
    height: 100vh;
    margin: 30px auto;
    border: 1px solid #333;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    row-gap: 4rem;
    column-gap: 6rem;
    justify-items: center;
    align-items: center;

}

.grid-items{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border: 1px solid slateblue;
    background-color: white;
    border-radius: 30px;
}

.card{
    width: 250px;
    border-radius: 30px;
    background-color: white;
}

.card-image {
    margin-bottom: 6.5vw;
    position: relative;
    height: 150px;
    width: 250px;
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
} 