*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{

    --body:#E9E9E9;
    --titre:#707070;
    --text1:#7B7979;
    --text2:#FFA101;
    --formulaire: #D1D1D1;
    --bouton:#2F4F58;
    --divider:#acaeae;
}

/* Début de la zone header*/
.header{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--body);
    align-items: center;
}

.logo_header{

    position: relative;
    width: 10%;
    height: 112px;
    padding: 20px;
    margin-left: 35px;
}

.img_logo{
    width: 100%;
    height: 100%;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 487px;

}

.right{
    display: flex;
    flex-direction: row;
    margin-right: 25px;
    justify-content: space-evenly;
    align-items: center;

}
.search{
    width: 211px;
    display: flex;
    flex-direction: column;
    height: 36px;
    justify-content: space-between;
}

.langue{
    display: flex;
    flex-direction: row;
    margin-right: 25px;
    align-items: center;
}

.langue nav ul{
    font-family: "RobotoBold";
    color: var(--titre);
    display: flex;
    flex-direction: row;
    list-style: none;


}
.nav input{
    width: 100%;
    height: 100%;

    border-radius: 20px;
    border: var(--titre) 1px solid;

}

.burger{
    margin-top: 10px;
    width: 10%;
    height: 40%;
}

/* Fin de la zone header*/
/* Début de la zone titre*/
.title-spots{
    height: 45px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.text-spots{
    display: flex;
    color: var(--text2);
    font-family: "RobotoBold";
    text-transform: uppercase;
    font-size: 1.5rem;
}

.divider{
    width: 50vw;
    height: 2px;
    margin-top: 15px;
    background-color: var(--divider);
}
/* Fin de la zone header*/
/* Début de la zone galerie*/
.grid-container{
    max-width: 1200px;
    width: 80%;
    max-height: 100vh;
    margin: 30px auto; /* Permet d'avoir ma grid bien centré*/
    display: grid;
    grid-template-columns: repeat(3, 300px);
    row-gap: 2rem;
    justify-content: center;
    column-gap: 4rem;
    justify-items: center;
    align-items: center;
}

.grid-items{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 30px;
}

.card{
    height: 200px;
    width: 250px;
    border-radius: 30px;
    background-color: white;
}
.card-image {
    height: 150px;
    width: 250px;
    margin-bottom: 5.5vw;
    position: relative;

}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.place {
    font-family: "RobotoMedium";
    font-size: 1rem;
    color:var(--titre);
    padding: 10px;
}
