:root{

    --body:#E9E9E9;
    --titre:#707070;
    --text1:#7B7979;
    --text2:#FFA101;
    --formulaire: #D1D1D1;
    --bouton:#2F4F58;


}

section.about{
    display: flex;
    flex-direction: row;
}

aside.illustration{
    position: relative;
    width: 50%;
    min-height: 100vh;
    background-image: url(../images/illu/logInFaces.png) ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

article.texte{
    width: 50%;
    max-height: 100vh;
}

article.texte h1{
    font-family: "RobotoBold";
    color:var(--titre);
    font-size: 2rem;
    margin-top: 230px;
    margin-left: 95px;
}

article.texte p{
    font-family: "RobotoThin";
    color:var(--titre);
    text-align: justify;
    margin-left: 95px;
    margin-right: 120px;
}