*{box-sizing: border-box;}
:root{

    --body:#E9E9E9;
    --titre:#707070;
    --text1:#7B7979;
    --text2:#FFA101;
    --formulaire: #D1D1D1;
    --bouton:#2F4F58;


}
.header{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--body);
    align-items: center;


}
.logo_header{

    position: relative;
    width: 10%;
    height: 112px;
    padding: 20px;
    margin-left: 35px;


}

.img_logo{
    width: 100%;
    height: 100%;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 487px;

}
.right{
    display: flex;
    flex-direction: row;
    margin-right: 25px;
    justify-content: space-evenly;
    align-items: center;

}
.search{
    width: 211px;
    display: flex;
    flex-direction: column;
    height: 36px;
    justify-content: space-between;
}

.langue{
    display: flex;
    flex-direction: row;
    margin-right: 25px;
    align-items: center;
}

.langue nav ul{
    font-family: "RobotoBold";
    color: var(--titre);
    display: flex;
    flex-direction: row;
    list-style: none;


}
.nav input{
    width: 100%;
    height: 100%;

    border-radius: 20px;
    border: var(--titre) 1px solid;

}

.burger{
    margin-top: 10px;
    width: 10%;
    height: 40%;

}
#recherche{
    background-image: url(../images/illu/search.png);
    background-position: 13px 6px;
    background-repeat: no-repeat;
    background-size: 23px;
    padding-left: 51px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: var(--text2) 2px solid;


}