/************Colors**************/
:root{
    --white:#FFFFFF;
    --black:#1111;
    --orange:#FFA101;
    --greenblue:#2F4F58;
    --lightgrey:#D1D1D1;
    --middlegrey:#E9E9E9;
    --grey:#707070;
}

/***********Fonts************/

@font-face {
    font-family: "RobotoRegular";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "RobotoThin";
    src: url(../fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: "RobotoMedium";
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: "RobotoBold";
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}


/**********Système colone************/

[class*="col"]{
    float:left;
    padding:10px;
}

.col-lg-1{ width:8.3333%; }
.col-lg-2{ width:16.6666%; }
.col-lg-3{ width:25%; }
.col-lg-4{ width:33.3333%; }
.col-lg-5{ width:41.6666%; }
.col-lg-6{ width:50%; }
.col-lg-7{ width:58.3333%; }
.col-lg-8{ width:66.6666%; }
.col-lg-9{ width:75%; }
.col-lg-10{ width:83.3333%; }
.col-lg-11{ width:91.6666%; }
.col-lg-12{ width:100%; }


.col-lg-offset-1{ margin-left:8.3333%; }
.col-lg-offset-2{ margin-left:16.6666%; }
.col-lg-offset-3{ margin-left:25%; }
.col-lg-offset-4{ margin-left:33.3333%; }
.col-lg-offset-5{ margin-left:41.6666%; }
.col-lg-offset-6{ margin-left:50%; }
.col-lg-offset-7{ margin-left:58.3333%; }
.col-lg-offset-8{ margin-left:66.6666%; }
.col-lg-offset-9{ margin-left:75%; }
.col-lg-offset-10{ margin-left:83.3333%; }
.col-lg-offset-11{ margin-left:91.6666%; }
.col-lg-offset-12{ margin-left:100%; }


/*********Section entrance***********/

body{
    background-color: var(--middlegrey);
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.formulaire_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulaire{
    width: 55%;
    height: 70vh;

    background-color: var(--lightgrey);
    border-radius: 30px;
    box-shadow:  5px 5px 7px #7B79797A;

}

form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.inputbox{
    position: relative;
    width: 330px;
    height: 50px;
    box-sizing: border-box;
    border: 3px solid #D1D1D1;
    border-radius: 25px;
    outline: none;
}

input[type=text]:first-child{
    background-image: url(/assets/images/user.png);
    background-position: 15px 3px;
    background-repeat: no-repeat;
    background-size: 25px;
    padding-left: 50px;

}
input[type=password]{
 background-image: url(/assets/images/lock.png);
  background-position: 13px 9px;
  background-repeat: no-repeat;
  background-size: 24px;
  padding-left:52px;
}



/**Section illustration******/

section.entrance .logo img{
    width: 30%;
    padding: 20px;
}

section.illustration img{
    width: 100%;
    max-height: 100vh;
}
