/************Colors**************/
:root{
    --white:#FFFFFF;
    --black:#1111;
    --orange:#FFA101;
    --greenblue:#2F4F58;
    --lightgrey:#D1D1D1;
    --middlegrey:#E9E9E9;
    --grey:#707070;
}

/******** Responsive *********/












/***********Fonts************/

@font-face {
    font-family: "RobotoRegular";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "RobotoThin";
    src: url(../fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: "RobotoMedium";
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: "RobotoBold";
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: "RobotoMedium";
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

/*********Section entrance***********/

.container {
    background-color: var(--middlegrey);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.illustration{
    position: relative;
    width: 50%;
    min-height: 100vh;
    background-image: url(../images/illu/logInFaces.png) ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.logo_create{

    position: relative;
    width: 24%;
    height: 125px;
    padding: 20px;
    margin-left: 35px;

    }

    .img_logo{
        width: 80%;
    height: 90%;
    }

.entrance{
    width: 50%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

.formulaire_container{
    width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulaire{
    width: 55%;
    height: 80vh;
    background-color: var(--lightgrey);
    border-radius: 30px;
    box-shadow:  5px 5px 7px #7B79797A;
    display: flex;
    flex-direction: column;

}

form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.inputData{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: auto;
    height: 232px;
    margin-top: 27px;
}
.inputGroup{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formulaire_text{
    display: flex;
    align-items: center;
    flex-direction: column;
}



.formulaire_text h1{
    color: var(--grey);
    font-family:"RobotoBold";
    text-transform: uppercase;
    font-size: 3rem;
}

p{
    color: var(--grey);
    font-family: "RobotoRegular";
    font-size: 1.2rem;
}

.inputbox{
    position: relative;
    width: 330px;
    height: 50px;
    box-sizing: border-box;
    border: 3px solid #D1D1D1;
    border-radius: 50px;
    outline: none;
}





h4{
    padding-top: 10px;
    font-family: "RobotoThin";
    color: var(--grey);
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

.sign_in{
    align-self: flex-end;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    width: 190px;
    margin-right: 97px;
}

h2{
    color: var(--grey);
    font-family: "RobotoBold";
    font-size: 2rem;
}

.btn_log{
    background-color:var(--greenblue);
    border-radius: 30px;
    height: 40px;
    width: 70px;
    border: none;
    padding: 20px 20px;
    display: inline-block;
    cursor: pointer;
    background-image: url(../images/illu/arrow.png);
    background-position: 15px 5px;
    background-repeat: no-repeat;
    background-size: 40px;
}

.btn_log:hover{
    background-color: var(--orange);
}

.createAccount{
    width: 261px;
    height: 25px;
    display: flex;
    justify-content: center;
}
.createAccount p{
    font-family: "RobotoThin";
    color: var(--grey);
}

span{
    font-family: "RobotoMedium";
    text-decoration: underline;
}
